/* BASE */
@import url("base/reset.css");
@import url("base/variables.css");
@import url("base/typography.css");

/* LAYOUT */
@import url("layout/layout.css");
@import url("layout/header.css");
@import url("layout/sidebar.css");

/* COMPONENTS */
@import url("components/button.css");
@import url("components/card.css");
@import url("components/modal.css");
@import url("components/modalprofil.css");

/* PAGES */
@import url("pages/home.css");
@import url("pages/materi.css");
@import url("pages/about.css");
