/* BASE */
@import url("base/reset.css");
@import url("base/variables.css");
@import url("base/typography.css");

/* LAYOUT */
@import url("layout/layout.css");
@import url("layout/header.css");
@import url("layout/sidebar.css");

/* COMPONENTS */
@import url("components/button.css");
@import url("components/card.css");
@import url("components/modal.css");
@import url("components/modalprofil.css");
@import url("components/modal-bab.css");
@import url("components/kalender.css");
@import url("components/island.css");


/* PAGES */
@import url("pages/home.css");
@import url("pages/materi.css");
@import url("pages/about.css");
@import url("pages/bab.css");
@import url("pages/kontenBab.css");
@import url("pages/quiz.css");
@import url("pages/notes.css");
@import url("pages/notes-detail.css");
@import url("pages/performa.css");
@import url("pages/audio.css");
@import url("pages/timer.css");

