#content {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.25s ease, transform 0.25s ease;
}

/* saat keluar */
#content.fade-out {
  opacity: 0;
  transform: translateY(6px);
}
#content {
  padding-top: 56px; /* sama dengan tinggi header */
}
