.sidebar {
  display: flex;
  gap: 8px;
  padding: 10px;
  justify-content: center;
  background: #020617;
}

/* MOBILE: sidebar hidden */
@media (max-width: 767px) {
  .sidebar {
    display: none;
    flex-direction: column;
  }

  .sidebar.open {
    display: flex;
  }
}

/* DESKTOP */
@media (min-width: 768px) {
  .sidebar {
    width: 200px;
    flex-direction: column;
    display: flex;
  }
}
