nav {
  display: flex;
  gap: 8px;
  padding: 10px;
  justify-content: center;
  background: #020617;
}

@media (min-width: 768px) {
  nav {
    width: 200px;
    flex-direction: column;
    align-items: stretch;
  }
}
