
*,
*::before,
*::after {
  box-sizing: border-box;
}


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}


body {
  background: var(--bg);
  color: var(--text);

  /* PENTING: offset header fixed */
  padding-top: 56px;

  line-height: 1.5;
}


img,
svg,
video {
  max-width: 100%;
  display: block;
}


ul,
ol {
  margin: 0;
  padding: 0;
}


button,
input,
textarea,
select {
  font: inherit;
}
