/* ===============================
   TYPOGRAPHY
   =============================== */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, sans-serif;
  font-size: 14px;
}

/* heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
  color: var(--text);
}

/* paragraf */
p {
  margin: 0;
  color: var(--text);
}

/* link */
a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* small text */
small {
  font-size: 12px;
  color: var(--muted);
}
