.modal-settings {
  position: absolute;     /* ikut header-right */
  top: 100%;              /* tepat di bawah header */
  right: 0;
  margin-top: 8px;

  width: 220px;
  background: var(--card);
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,.25);

  display: none;
  z-index: 3000;
}

.modal-settings.show {
  display: block;
}
